Footer {
    position: fixed;
    width: 100%;
    bottom: 0%;
    background-color: rgb(33, 37, 41);
    color: rgb(144, 146, 127);
}

.col > a {
    text-decoration: none;
    color: rgb(144, 146, 127);
}

.col > a:hover {
    transition-delay: 40ms;
    color: rgb(199, 200, 201);
}

.links {
    text-align: right;
}

.col {
    float: left;
}

.row:after {
    display: table;
}